<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  IgnorableNamespaces="uap mp">

  <Identity
    Name="52374YoshiAskharoun.AggieMove"
    Publisher="CN=CD3113F3-18EB-4B8D-9D8A-C6D373E7A464"
    Version="1.0.3.0" />

  <mp:PhoneIdentity PhoneProductId="d342aa20-cf1c-4e05-b759-01a2da89ea58" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Aggie Move</DisplayName>
    <PublisherDisplayName>Joshua Askharoun</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="MTATransit.exe"
      EntryPoint="UnoQuickStart.App">
      <uap:VisualElements
        DisplayName="Aggie Move"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        BackgroundColor="#F44336"
        Description="Helping you get exactly where you need to be">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="LA Move" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="wide310x150Logo"/>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png"  BackgroundColor="#F44336"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.shareTarget">
          <uap:ShareTarget Description="Transfer to LA Move">
            <uap:DataFormat>WGS84</uap:DataFormat>
            <uap:DataFormat>LocationJSON</uap:DataFormat>
          </uap:ShareTarget>
        </uap:Extension>
      </Extensions>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="internetClient" />
    <DeviceCapability Name="location"/>
  </Capabilities>
</Package>